:root {
  --x-01: rgba(18, 15, 24, 1);
  --x-02: rgba(39, 65, 92, 1);
  --x-03: rgba(92, 157, 220, 1);
  --x-04: rgba(70, 214, 221, 1);
  --x-05: rgba(221, 255, 255, 1);
  --x-06: rgba(255, 255, 255, 1);
  --h-1-font-family: "Montserrat-Bold", Helvetica;
  --h-1-font-weight: 700;
  --h-1-font-size: 48px;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: normal;
  --h-1-font-style: normal;
  --h-2-font-family: "Montserrat-Bold", Helvetica;
  --h-2-font-weight: 700;
  --h-2-font-size: 36px;
  --h-2-letter-spacing: 0px;
  --h-2-line-height: normal;
  --h-2-font-style: normal;
  --h-3-font-family: "Montserrat-Bold", Helvetica;
  --h-3-font-weight: 700;
  --h-3-font-size: 24px;
  --h-3-letter-spacing: 0px;
  --h-3-line-height: normal;
  --h-3-font-style: normal;
  --h-4-font-family: "Montserrat-Bold", Helvetica;
  --h-4-font-weight: 700;
  --h-4-font-size: 18px;
  --h-4-letter-spacing: 0px;
  --h-4-line-height: 24px;
  --h-4-font-style: normal;
  --h-5-font-family: "Montserrat-Bold", Helvetica;
  --h-5-font-weight: 700;
  --h-5-font-size: 16px;
  --h-5-letter-spacing: 0px;
  --h-5-line-height: 20px;
  --h-5-font-style: normal;
  --body-1-font-family: "Montserrat-Regular", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 16px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 26px;
  --body-1-font-style: normal;
  --body-2-font-family: "Montserrat-Regular", Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 14px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 18px;
  --body-2-font-style: normal;
  --heading-proxima-nova-h6-font-family: "ProximaNova-Bold", Helvetica;
  --heading-proxima-nova-h6-font-weight: 700;
  --heading-proxima-nova-h6-font-size: 16px;
  --heading-proxima-nova-h6-letter-spacing: 0.05599999904632568px;
  --heading-proxima-nova-h6-line-height: 24px;
  --heading-proxima-nova-h6-font-style: normal;
}

@media only screen and (max-width: 1250px) {
  :root {
    --x-01: rgba(18, 15, 24, 1);
    --x-02: rgba(39, 65, 92, 1);
    --x-03: rgba(92, 157, 220, 1);
    --x-04: rgba(70, 214, 221, 1);
    --x-05: rgba(221, 255, 255, 1);
    --x-06: rgba(255, 255, 255, 1);
    --h-1-font-family: "Montserrat-Bold", Helvetica;
    --h-1-font-weight: 700;
    --h-1-font-size: 48px;
    --h-1-letter-spacing: 0px;
    --h-1-line-height: normal;
    --h-1-font-style: normal;
    --h-2-font-family: "Montserrat-Bold", Helvetica;
    --h-2-font-weight: 700;
    --h-2-font-size: 36px;
    --h-2-letter-spacing: 0px;
    --h-2-line-height: normal;
    --h-2-font-style: normal;
    --h-3-font-family: "Montserrat-Bold", Helvetica;
    --h-3-font-weight: 700;
    --h-3-font-size: 24px;
    --h-3-letter-spacing: 0px;
    --h-3-line-height: normal;
    --h-3-font-style: normal;
    --h-4-font-family: "Montserrat-Bold", Helvetica;
    --h-4-font-weight: 700;
    --h-4-font-size: 18px;
    --h-4-letter-spacing: 0px;
    --h-4-line-height: 24px;
    --h-4-font-style: normal;
    --h-5-font-family: "Montserrat-Bold", Helvetica;
    --h-5-font-weight: 700;
    --h-5-font-size: 16px;
    --h-5-letter-spacing: 0px;
    --h-5-line-height: 20px;
    --h-5-font-style: normal;
    --body-1-font-family: "Montserrat-Regular", Helvetica;
    --body-1-font-weight: 400;
    --body-1-font-size: 16px;
    --body-1-letter-spacing: 0px;
    --body-1-line-height: 26px;
    --body-1-font-style: normal;
    --body-2-font-family: "Montserrat-Regular", Helvetica;
    --body-2-font-weight: 400;
    --body-2-font-size: 14px;
    --body-2-letter-spacing: 0px;
    --body-2-line-height: 18px;
    --body-2-font-style: normal;
  }
  
}